extends layout

block content
  h1= title
  h3= subt

  if (user)
    p Welcome #{user.username}
      a(href="/logout") &nbsp;log out

  else
    p Sign up!
      form(method="post", action="/signup")
        input(type="text", name="username", placeholder="username")
        input(type="password", name="password", placeholder="password")
        button(type="submit") Sign up
  
    hr
    
    p Log in!
      form(method="post", action="/login")
        input(type="text", name="username", placeholder="username")
        input(type="password", name="password", placeholder="password")
        button(type="submit") Log in
      