extends layout

block content
    
    if (err)
        p= err

    else
        each article, i in articles
            article
                h2 #{i}. #{article.title}
                p !{article.body}
      